<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.boosterfinalproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".lesson1refrence">

        </activity>
        <activity android:name=".support_system">
        </activity>
        <activity android:name=".Home">

        </activity>
        <activity android:name=".HomeScrolled">

        </activity>
        <activity android:name=".gift">

        </activity>
        <activity android:name=".Congrats"></activity>
        <activity android:name=".Friend_recyclerview" />
        <activity android:name=".Friend" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>